.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.header-menu {
  display: flex;
flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  padding: 16px 0px;
  display: inline-block;
  position: relative;
}

.header-menu a:after {
  content: "";
  height: 2px;
  width: 0%;
  display: block;
  transition: 0.3s;
  position: absolute;
  background: var(--cor-0);
  margin-top: 4px;
}

.header-menu a:hover:after {
  width: 100%;
}
