.introducao-bg {
  background: #000000;
  color: #ffffff;
  box-shadow: inset 0px -120px #ffffff;
}

.introducao {
  max-width: 1200px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0px 20px;
  gap: 0px 40px;
}

.introducao-conteudo {
  align-self: center;
  padding-bottom: 200px;
}

.introducao h1 {
  margin-bottom: 32px;
  font-size: 4rem;
  line-height: 1.125;
  font-family: "Poppins";
  font-weight: 600;
}

.introducao h1 span {
  color: #ffbb00;
}

.introducao p {
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #b2b2b2;
  /* max-width: 40ch; */
  font-family: "Roboto";
  font-weight: 400;
}

.introducao img {
  /* height: 100%; */
  border-radius: 5px;
  object-fit: cover;
}
