.vantagens-bg {
  background: var(--cor-12);
}
.vantagens {
  padding: 120px 0;
}

.vantagens h2 {
  margin-bottom: 60px;
}

.vantagens ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px 80px;
}

.vantagens li {
  padding-top: 8px;
}

.vantagens h3,
.vantagens img {
  margin-bottom: 8px;
}

.vantagens p {
  max-width: max-content;
}

@media (max-width: 800px) {
  .vantagens {
    padding: 60px 40px;
  }
}

/* Perguntas */

.perguntas {
  padding: 120px 0;
}

.perguntas h2 {
  margin-bottom: 60px;
  padding: 0 20px;
}
.perguntas dl{
  padding: 0 20px;
}

.perguntas dl > div {
  padding: 20px;
  border-radius: 4px;
}

.perguntas dl div:nth-child(odd) {
  background: var(--cor-1);
}

.perguntas dt {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.perguntas dt::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
}

.perguntas dt::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url(../../img/icones/seta-abrir.svg);
  transition: 0.3s;
}

.perguntas dt:hover:after {
  transform: rotate(180deg);
}

.perguntas dd {
  padding-left: 20px;
  padding-top: 16px;
  max-width: 80ch;
}

@media (max-width:800px){
  .perguntas{
    padding: 60px 0;
  }
  .perguntas h2{
    margin-bottom: 40px;
  }
}